<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.ChapterMapper">

    <insert id="regist">
        insert into chapter(chap_title, chap_video, chap_time, lec_idx, chap_org_video)
        values(#{chap_title}, #{chap_video}, #{chap_time}, #{lec_idx}, #{chap_org_video})
    </insert>
    <select id="view" resultType="org.fullstack.merry.domain.lecture.ChapterVO">
        select *
        from chapter
        where chap_idx=#{chap_idx}
    </select>
    <update id="modify">
        update chapter
        set chap_title=#{chap_title}, chap_video=#{chap_video}, chap_time=#{chap_time}, chap_org_video=#{chap_org_video}
        where chap_idx=#{chap_idx}
    </update>
    <delete id="modifyAndDelete">
        delete from chapter
        where lec_idx = #{lec_idx}
    </delete>
    <update id="delete">
        update chapter
        set chap_status="N"
        where chap_idx=#{chap_idx}
    </update>
    <select id="chapterList" resultType="org.fullstack.merry.domain.lecture.ChapterVO">
        select *
        from chapter
        where lec_idx=#{lec_idx}
        order by chap_idx asc
    </select>
    <select id="totalChapter">
        select count(*)
        from chapter
        where lec_idx=#{lec_idx}
    </select>

    <delete id="realDelete">
        delete from chapter where chap_idx=#{chap_idx}
    </delete>

    <select id="myLectureOneChapter">
        SELECT * FROM chapter
        WHERE lec_idx = #{lec_idx}
        AND chap_idx = #{chap_idx}
    </select>
</mapper>