<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.MemberMapper">
    <insert id="join">
        INSERT INTO member( member_id, pwd, name, email, birthday, addr, addr_detail, zipcode, phone)
        VALUES ( #{member_id}, #{pwd}, #{name}, #{email}, #{birthday}, #{addr}, #{addr_detail}, #{zipcode}, #{phone})
    </insert>

    <select id="view" resultType="org.fullstack.merry.domain.MemberVO">
        SELECT member_id, pwd, name, email, birthday, addr, addr_detail, zipcode, phone
        FROM member
        WHERE member_id = #{member_id}
    </select>

    <update id="modify">
        UPDATE member
        SET pwd = #{pwd}, email = #{email}, birthday = #{birthday}, addr = #{addr}
          , addr_detail = #{addr_detail}, zipcode = #{zipcode}, phone = #{phone}, modify_date = now()
        WHERE member_id = #{member_id}
    </update>

    <update id="leave">
        UPDATE member
        SET member_state = 'N'
        WHERE member_id = #{member_id}
    </update>

<!--    <delete id="leave">-->
<!--        DELETE FROM tbl_member-->
<!--        WHERE user_id = #{user_id}-->
<!--    </delete>-->
</mapper>