<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.MyeduMapper">
    <sql id="qnaWhereCondition">
        <trim>
            <if test="search_type != null">
                <foreach collection="search_type" item="type" >
                    <trim prefix="AND">
                        <choose>
                            <when test="type == 't'.toString()">
                                qna_title like concat('%', #{search_word},'%')
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </trim>
    </sql>

    <sql id="reviewWhereCondition">
        <if test="search_type != null">
            <foreach collection="search_type" item="type" >
                <trim prefix="AND">
                    <if test="type == 't'.toString()">
                        comment like concat('%', #{search_word},'%')
                    </if>
                </trim>
            </foreach>
        </if>
    </sql>

    <sql id="lectureWhereCondition">
        <if test="search_type != null">
            <foreach collection="search_type" item="type" >
                <trim prefix="AND">
                    <if test="type == 't'.toString()">
                        lec_title like concat('%', #{search_word},'%')
                    </if>
                </trim>
            </foreach>
        </if>
    </sql>

    <select id="myQnaList">
        SELECT * FROM qna as q
        INNER JOIN lecture as l ON l.lec_idx = q.qna_lec_idx
        WHERE q.member_idx = #{member_idx}
        AND qna_type = 'l'
        <include refid="qnaWhereCondition"></include>
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="totalMyQna">
        SELECT COUNT(*) FROM qna
        WHERE member_idx = #{member_idx}
        AND qna_type = 'l'
        <include refid="qnaWhereCondition"></include>
    </select>

    <select id="myReviewList">
        SELECT * FROM lecture_review as lr
        INNER JOIN lecture as l ON l.lec_idx = lr.lec_idx
        WHERE lr.member_idx = #{member_idx}
        <include refid="reviewWhereCondition"></include>
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="totalMyReview">
        SELECT COUNT(*) FROM lecture_review
        WHERE member_idx = #{member_idx}
        <include refid="reviewWhereCondition"></include>
    </select>

    <select id="myLectureList">
        SELECT lt.* FROM `order` AS ord
        INNER JOIN order_detail AS od ON od.order_idx = ord.order_idx
        INNER JOIN member AS mb ON mb.member_id = ord.member_id
        INNER JOIN lecture AS lt ON lt.lec_idx = od.lec_idx
        WHERE ord.member_id = #{member_id}
        <include refid="lectureWhereCondition"></include>
        GROUP BY lt.lec_idx
        ORDER BY lt.lec_idx DESC
    </select>

    <select id="totalMyLecture">
        SELECT COUNT(*) FROM `order` AS ord
        INNER JOIN order_detail AS od ON od.order_idx = ord.order_idx
        INNER JOIN member AS mb ON mb.member_id = ord.member_id
        INNER JOIN lecture AS lt ON lt.lec_idx = od.lec_idx
        WHERE ord.member_id = #{member_id}
        <include refid="lectureWhereCondition"></include>
    </select>
</mapper>