<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.MyeduMapper">
    <sql id="qnaWhereCondition">
        <trim>
            <if test="search_type != null">
                <foreach collection="search_type" item="type" >
                    <trim prefix="AND">
                        <choose>
                            <when test="type == 't'.toString()">
                                qna_title like concat('%', #{search_word},'%')
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </if>
        </trim>
    </sql>

    <sql id="reviewWhereCondition">
            <if test="search_type != null">
                <foreach collection="search_type" item="type" >
                    <trim prefix="AND">
                        <if test="type == 't'.toString()">
                            comment like concat('%', #{search_word},'%')
                        </if>
                    </trim>
                </foreach>
            </if>
    </sql>

    <select id="myQnaList">
        SELECT * FROM qna as q
        INNER JOIN lecture as l ON l.lec_idx = q.qna_lec_idx
        WHERE q.member_idx = #{member_idx}
        <include refid="qnaWhereCondition"></include>
    </select>

    <select id="totalMyQna">
        SELECT COUNT(*) FROM qna
        WHERE member_idx = #{member_idx}
        <include refid="qnaWhereCondition"></include>
    </select>

    <select id="myReviewList">
        SELECT * FROM lecture_review as lr
        INNER JOIN lecture as l ON l.lec_idx = lr.lec_idx
        WHERE lr.member_idx = #{member_idx}
        <include refid="reviewWhereCondition"></include>
    </select>

    <select id="totalMyReview">
        SELECT COUNT(*) FROM lecture_review
        WHERE member_idx = #{member_idx}
        <include refid="reviewWhereCondition"></include>
    </select>
</mapper>