<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.MypageMapper">
    <sql id="whereCondition">
        <where>
            member_id = #{member_id} AND qna_type = 'M'
            <if test="search_date1 != null and search_date2 != null and search_date1 != '' and search_date2 != ''">
                <trim prefix="and">
                    qna_reg_date BETWEEN #{search_date1} AND #{search_date2}
                </trim>
            </if>
        </where>
    </sql>
    <sql id="whereCondition2">
        <where>
            <trim prefix="and">
                o.member_id = #{member_id}
            </trim>
            <if test="search_date1 != null and search_date2 != null and search_date1 != '' and search_date2 != ''">
                <trim prefix="and">
                    order_date BETWEEN #{search_date1} AND #{search_date2}
                </trim>
            </if>
        </where>
    </sql>
    <sql id="whereCondition3">
        <where>
            qna_type = 'M'
            <if test="search_date1 != null and search_date2 != null and search_date1 != '' and search_date2 != ''">
                <trim prefix="and">
                    order_date BETWEEN #{search_date1} AND #{search_date2}
                </trim>
            </if>
        </where>
    </sql>
    <insert id="addcart">
        INSERT into cart(member_id, lec_idx, lec_title, lec_price, lec_img)
        SELECT #{member_id}, lec.lec_idx, lec.lec_title, lec.lec_price, lec.lec_img
        FROM lecture as lec
        WHERE lec_idx = #{lecIdx}
    </insert>
    <insert id="addzzim">
        INSERT into zzim(member_id, lec_idx, lec_title, lec_price, lec_img)
        SELECT #{member_id}, lec.lec_idx, lec.lec_title, lec.lec_price, lec.lec_img
        FROM lecture as lec
        WHERE lec_idx = #{lecIdx}
    </insert>
    <delete id="deleteCart">
        DELETE FROM cart
        WHERE member_id = #{member_id}
          AND lec_idx = #{lecIdx}
    </delete>
    <delete id="deletezzim">
        DELETE FROM zzim
        WHERE member_id = #{member_id}
          AND lec_idx = #{lecIdx}
    </delete>

    <!--1:1 문의 -->
    <select id="qnaTotalCount">
        SELECT COUNT(*)
        FROM qna AS q INNER JOIN member AS m ON q.member_idx = m.member_idx
        <include refid="whereCondition"></include>
    </select>

    <select id="qnaList" resultType="org.fullstack.merry.domain.QnaVO">
        SELECT qna_idx, qna_title, qna_answer_yn, qna_member_name, qna_reg_date, member_id
        FROM qna AS q INNER JOIN member AS m ON q.member_idx = m.member_idx
        <include refid="whereCondition"></include>
        ORDER BY qna_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="qnaTotalCount2">
        SELECT COUNT(*)
        FROM qna
        <include refid="whereCondition3"></include>
    </select>

    <select id="qnaList2" resultType="org.fullstack.merry.domain.QnaVO">
        SELECT qna_idx, qna_title, qna_answer_yn, qna_member_name, qna_reg_date
        FROM qna
        <include refid="whereCondition3"></include>
        ORDER BY qna_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="viewQna" resultType="org.fullstack.merry.domain.QnaVO">
        select *
        from qna
        where qna_idx=#{qna_idx}
    </select>

    <insert id="registQna" parameterType="org.fullstack.merry.domain.QnaVO" useGeneratedKeys="true" keyProperty="qna_idx" keyColumn="qna_idx">
        insert into qna(qna_title, qna_content, member_idx, qna_member_name, qna_answer_idx, qna_answer_name, qna_type)
        values(#{qna_title}, #{qna_content}, #{member_idx}, #{qna_member_name}, #{qna_answer_idx}, #{qna_answer_name}, 'M')
    </insert>

    <!-- 결제 내역 -->
    <select id="orderList" resultType="org.fullstack.merry.domain.OrderVO">
        SELECT order_idx, order_date, order_total, order_state, o.member_id
        FROM `order` AS o INNER JOIN member AS m ON o.member_id = m.member_id
        <include refid="whereCondition2"></include>
        ORDER BY order_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>
    <select id="orderTotalCount">
        SELECT COUNT(*)
        FROM `order` AS o INNER JOIN member AS m ON o.member_id = m.member_id
        <include refid="whereCondition2"></include>
    </select>
    <select id="getLecIdx">
        SELECT lec_idx
        FROM `order` AS o INNER JOIN order_detail AS od ON o.order_idx = od.order_idx
        <include refid="whereCondition2"></include>
    </select>
    <update id="orderUpdateState">
        UPDATE `order` SET
            order_state = 'B'
        WHERE order_idx = #{order_idx}
    </update>

    <!-- 찜 -->
    <select id="zzimList" resultType="org.fullstack.merry.domain.ZzimVO">
        SELECT zzim_idx, lec_idx, lec_title, lec_price, lec_img, z.member_id
        FROM zzim AS z INNER JOIN member AS m ON z.member_id = m.member_id
        WHERE z.member_id = #{member_id}
        ORDER BY zzim_idx DESC
            LIMIT #{page_skip_count}, #{page_size}
    </select>
    <select id="zzimTotalCount">
        SELECT COUNT(*)
        FROM zzim AS z INNER JOIN member AS m ON z.member_id = m.member_id
        WHERE z.member_id = #{member_id}
    </select>

    <!-- 카트 -->
    <select id="cartList" resultType="org.fullstack.merry.domain.CartVO">
        SELECT cart_idx, lec_idx, lec_title, lec_price, lec_img, c.member_id
        FROM cart AS c INNER JOIN member AS m ON c.member_id = m.member_id
        WHERE c.member_id = #{member_id}
        ORDER BY cart_idx DESC
            LIMIT #{page_skip_count}, #{page_size}
    </select>
    <select id="cartTotalCount">
        SELECT COUNT(*)
        FROM cart AS c INNER JOIN member AS m ON c.member_id = m.member_id
        WHERE c.member_id = #{member_id}
    </select>

</mapper>