<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.MypageMapper">
    <insert id="addcart">
        INSERT into cart(member_id, lec_idx, lec_title, lec_price, lec_img)
        SELECT #{member_id}, lec.lec_idx, lec.lec_title, lec.lec_price, lec.lec_img
        FROM lecture as lec
        WHERE lec_idx = #{lecIdx}
    </insert>
    <insert id="addzzim">
        INSERT into zzim(member_id, lec_idx, lec_title, lec_price, lec_img)
        SELECT #{member_id}, lec.lec_idx, lec.lec_title, lec.lec_price, lec.lec_img
        FROM lecture as lec
        WHERE lec_idx = #{lecIdx}
    </insert>
    <delete id="deleteCart">
        DELETE FROM cart
        WHERE member_id = #{member_id}
        AND lec_idx = #{lecIdx}
    </delete>
    <delete id="deletezzim">
        DELETE FROM zzim
        WHERE member_id = #{member_id}
          AND lec_idx = #{lecIdx}
    </delete>

    <!--1:1 문의 -->
    <select id="qnaTotalCount">
        SELECT COUNT(*)
        FROM qna AS q INNER JOIN member AS m ON q.member_idx = m.member_idx
        WHERE q.member_idx = #{member_idx}
    </select>
    <select id="qnaList" resultType="org.fullstack.merry.domain.QnaVO">
        SELECT qna_idx, qna_title, qna_answer_yn, qna_member_name, qna_reg_date
        FROM qna
        WHERE member_idx = #{member_idx}
        ORDER BY qna_idx DESC
    </select>

    <select id="viewQna" resultType="org.fullstack.merry.domain.QnaVO">
        select *
        from qna
        where qna_idx=#{qna_idx}
    </select>

    <insert id="registQna" parameterType="org.fullstack.merry.domain.QnaVO" useGeneratedKeys="true" keyProperty="qna_idx" keyColumn="qna_idx">
        insert into qna(qna_title, qna_content, member_idx, qna_member_name, qna_answer_idx, qna_answer_name, qna_type)
        values(#{qna_title}, #{qna_content}, #{member_idx}, #{qna_member_name}, #{qna_answer_idx}, #{qna_answer_name}, 'M')
    </insert>

<!--    <update id="modifyQna">-->
<!--        update qna-->
<!--        set qna_title=#{qna_title}, qna_content=#{qna_content}, qna_modify_date=now()-->
<!--        where qna_idx=#{qna_idx}-->
<!--    </update>-->

<!--    <delete id="deleteQna">-->
<!--        delete from qna where qna_idx=#{qna_idx}-->
<!--    </delete>-->



<!--    <select id="noticeListByPage" resultType="org.fullstack4.bookstore.domain.NoticeVO">-->
<!--        SELECT idx, title, writer, reg_date, content, org_file_name, save_file_name, fix_state-->
<!--        FROM tbl_bbs_notice-->
<!--        <include refid="whereCondition"></include>-->
<!--        ORDER BY fix_state ASC, idx DESC-->
<!--        LIMIT #{page_skip_count}, #{page_size}-->
<!--    </select>-->
</mapper>