<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.MypageMapper">
    <insert id="addcart">
        INSERT into cart(member_id, lec_idx, lec_title, lec_price, lec_img)
        SELECT #{member_id}, lec.lec_idx, lec.lec_title, lec.lec_price, lec.lec_img
        FROM lecture as lec
        WHERE lec_idx = #{lecIdx}
    </insert>
    <insert id="addzzim">
        INSERT into zzim(member_id, lec_idx, lec_title, lec_price, lec_img)
        SELECT #{member_id}, lec.lec_idx, lec.lec_title, lec.lec_price, lec.lec_img
        FROM lecture as lec
        WHERE lec_idx = #{lecIdx}
    </insert>
    <delete id="deleteCart">
        DELETE FROM cart
        WHERE member_id = #{member_id}
        AND lec_idx = #{lecIdx}
    </delete>
    <delete id="deletezzim">
        DELETE FROM zzim
        WHERE member_id = #{member_id}
          AND lec_idx = #{lecIdx}
    </delete>
</mapper>