<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.NoticeMapper">
    <sql id="whereCondition">
        <where>
            <if test=' search_word != null and search_word != "" '>
                <choose>
                    <when test="type == 0">
                        AND notice_title LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                    <when test="type == 1">
                        AND notice_content LIKE CONCAT('%', #{search_word}, '%')
                    </when>
                </choose>
            </if>
            <if test="type2 == 0">
                AND notice_type is NULL
            </if>
        </where>
    </sql>


    <select id="ListByPage" resultType="org.fullstack.merry.domain.NoticeVO">
        SELECT notice_idx, notice_title, notice_content, notice_org_file_name, notice_save_file_name, notice_type, notice_reg_date, notice_modify_date, member_idx, notice_member_name, notice_type
        FROM notice
        <include refid="whereCondition"></include>
        ORDER BY notice_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="TotalCount">
        SELECT COUNT(*)
        FROM notice
        <include refid="whereCondition"></include>
    </select>

    <select id="view" resultType="org.fullstack.merry.domain.NoticeVO">
        SELECT notice_idx, notice_title, notice_content, notice_org_file_name, notice_save_file_name, notice_type, notice_reg_date, notice_modify_date, member_idx
        FROM notice
        WHERE notice_idx = #{notice_idx}
    </select>

    <insert id="regist" parameterType="org.fullstack.merry.domain.NoticeVO" useGeneratedKeys="true" keyProperty="notice_idx" keyColumn="notice_idx">
        INSERT INTO notice (notice_title, notice_content, notice_org_file_name, notice_save_file_name, notice_type, notice_reg_date, member_idx, notice_member_name)
        VALUES(#{notice_title}, #{notice_content}, #{notice_org_file_name}, #{notice_save_file_name}, #{notice_type}, NOW(), #{member_idx}, #{notice_member_name})
    </insert>

    <update id="modify">
        UPDATE notice SET
        notice_title = #{notice_title}
        , notice_content = #{notice_content}
        , notice_org_file_name = #{notice_org_file_name}
        , notice_save_file_name = #{notice_save_file_name}
        , notice_type = #{notice_type}
        , notice_modify_date = NOW()
        WHERE notice_idx = #{notice_idx}
    </update>

    <delete id="delete">
        DELETE
        FROM notice
        WHERE notice_idx = #{notice_idx}
    </delete>

</mapper>