<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack.merry.mapper.TeacherMapper">
    <select id="noticeList" resultType="org.fullstack.merry.dto.NoticeDTO">
        SELECT notice_idx, notice_title, notice_content, notice_reg_date, m.name AS member_name
        FROM notice AS n
                 LEFT JOIN member AS m ON n.member_idx=m.member_idx
        WHERE notice_type = 't'
          AND n.member_idx = ${M_Idx}
    </select>
    <select id="teacherlist" resultType="org.fullstack.merry.domain.TeacherVO">
        SELECT SUBJECT,teacher_name, intro, teacher_image, member_idx
        FROM teacher
    </select>

    <select id="lecturelist" resultType="org.fullstack.merry.domain.lecture.LectureVO">
        SELECT lec_idx, lec_title, lec_img, lec_subject
        FROM lecture
        WHERE member_idx = ${teacherIdx}
          AND lec_status != 'N'
    </select>
    <select id="qnaList" resultType="org.fullstack.merry.domain.QnaVO">
        SELECT qna_answer_yn, qna_title, qna_member_name, qna_reg_date
        FROM qna
        WHERE qna_answer_idx = #{teacher_idx}
    </select>
    <select id="datalist" resultType="org.fullstack.merry.domain.DataVO">
        SELECT data_idx, data_title, data_reg_date
        FROM data
        WHERE member_idx = '3'
    </select>
    <select id="cartList">
        SELECT lec_idx
        FROM cart
        WHERE member_id = #{member_id}
    </select>
    <select id="zzimList">
        SELECT lec_idx
        FROM zzim
        WHERE member_id = #{member_id}
    </select>

    <insert id="teacherGradeRegist">
        INSERT INTO grade(grade_title, grade_student, grade_teacher, grade_score)
        VALUES (#{grade_title}, #{grade_student}, #{grade_teacher}, #{grade_score})
    </insert>

    <select id="gradeList">
        SELECT * FROM grade
        WHERE grade_teacher = #{grade_teacher}
        ORDER BY grade_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id="totalGrade">
        SELECT COUNT(*) FROM grade
        WHERE grade_teacher = #{grade_teacher}
    </select>
</mapper>